*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  background-color: hsl(0, 0%, 12%);
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
}

.profile-address {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 10px;
  text-align: center;
}

.profile-bio {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  text-align: center;
}

.social-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.social-link {
  display: block;
  padding-block: 10px;
  text-align: center;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  background-color: hsl(0, 0%, 20%);
  transition: background-color .3s;
}

.social-link:hover {
  background-color: hsla(0, 0%, 20%, 50%);
}

.social-link:focus {
  background-color: hsla(0, 0%, 20%, 50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(75, 94%, 57%);
}
